meetings{
        position: relative;
             align-items: stretch;
        
        .meetings{
            float:left;
            margin: 0;
            
            div{
                padding: 10px 0;
                border-bottom : 1px solid;
                opacity: 0;
                margin: 0 -5px;
                padding: 10px 5px;
                
                &:last-child{
                    border : none;
                }
            }
            
            &.is-load{
                div{
                    animation:appear 1s forwards;
                    .defere-animation(10);
                }
            }
        }
    }
    .defere-animation(@n, @i: 1) when (@i =< @n) {
  &:nth-child(@{i}) {
    animation-delay: (@i * 0.2s);
  }
  .defere-animation(@n, (@i + 1));
}