news {
    position: absolute;
    bottom: 50px;
    width: 100%;
    font-size:24px;
    font-weight: 300;
    .container {
        transition: 0.6s transform;
        position:relative;
        span {
            position: absolute;
            top:0;
            width: 100%;
            text-align: center;
            opacity: 0;
            &.current {
               animation: entering-news 1s forwards
            }
            &.leave {
               animation: leaving-news 1s forwards
            }
        }
    }
}

@keyframes entering-news{
    0%{
        opacity: 0;
        transform: rotateX(70deg) translate3d(0,-50px,50px); 
    }
    100%{
        opacity: 1;
        transform: rotate(0) translate3d(0,0,0); 
    }
}

@keyframes leaving-news{
    0%{
        opacity: 1;
        transform: rotate(0) translate3d(0,0,0);        
    }
    100%{
       opacity: 0;
       transform: rotateX(-70deg) translate3d(0,50px,50px); 
    }
}