@import 'font.less';
@import 'weather-icon.less';
@import 'weather.less';
@import 'next-stop.less';

body{
    font-family: 'open_sans';
}

.component{
    margin:10px;
    box-shadow: 0 0 20px fade(#000,50);    
    display: block;
    float: left;
}